/* From Uiverse.io by akshat-patel28 */ 
body{
  margin: 0;
  background-color: #f4f4f4;
}

a{
  text-decoration: none;
  color: #23272F;
}
.encabezado{
  background-color: rgb(49, 49, 49);
  display: flex;
  height: 130px;
  align-content: center;
  justify-content: space-between;
}

.encabezado a{
  text-decoration: none;
  height: 75%;
  margin: auto 0;
}

.encabezado a .card {
  width: 400px;
  height: 100%;
  margin-left: 80px;
  box-sizing: border-box;
  background-color: #212121;
  border: 5px solid #222;
  border-radius: 8px;
  display: flex;
  gap: 10px;
  padding: 10px;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px,
          rgba(0, 0, 0, 0.23) 0px 6px 6px,
          inset rgba(0, 0, 0, 0.19) 0px 10px 20px,
          inset rgba(0, 0, 0, 0.23) 0px 6px 6px;
  transition: all ease-in-out 0.3s;
  overflow: hidden;
  align-content: center;
}

.encabezado .card:hover {
  box-shadow: rgba(193, 44, 223, 0.19) 0px 10px 20px,
          rgba(193, 44, 223, 0.23) 0px 6px 6px,
          inset rgba(0, 0, 0, 0.19) 0px 10px 20px,
          inset rgba(0, 0, 0, 0.23) 0px 6px 6px;
  border: 5px solid #b671d6;
}

.encabezado .card h1 {
  margin-top: 10px;
  font-size: 40px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
          "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: #fff;
  cursor: default;
}

@keyframes textanimate {
  0% {
    right: 20px;
  }

  100% {
    right: 10px;
  }
}

.arrow-icon {
  font-size: 15px;
  font-weight: 500;
}

.encabezado .card img{
  width: 90px;
}

ul {
  list-style: none;
  align-items: center;
}

.example-2 {
  display: flex;
  justify-content: center;
  margin-right: 80px;
}
.example-2 .icon-content {
  margin: 0 10px;
  position: relative;
  
}
.example-2 .icon-content .tooltip {
  position: absolute;
  top: -30px;
  left: 50%;
  transform: translateX(-50%);
  color: #fff;
  padding: 6px 10px;
  border-radius: 15px;
  opacity: 0;
  visibility: hidden;
  font-size: 14px;
  transition: all 0.3s ease;
}
.example-2 .icon-content:hover .tooltip {
  opacity: 1;
  visibility: visible;
  top: -40px;
}
.example-2 .icon-content a {
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 20%;
  color: #4d4d4d;
  background-color: #ffff;
  transition: all 0.3s ease-in-out;
}
.example-2 .icon-content a:hover {
  box-shadow: 3px 2px 45px 0px rgb(0 0 0 / 50%);
  box-shadow: 0px 0px 100px rgba(255, 213, 59, 0.894), 0px 0px 100px rgba(255, 102, 0, 0.5);
  
}
.example-2 .icon-content a i {
  position: relative;
  z-index: 1;
  font-size: 23px;
}
.example-2 .icon-content a:hover {
  color: white;
}
.example-2 .icon-content a .filled {
  position: absolute;
  top: auto;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0;
  background-color: #000;
  transition: all 0.3s ease-in-out;
}

.example-2 .icon-content a:hover .filled {
  height: 100%;
}
.example-2 .icon-content a[data-social="spotify"] .filled,
.example-2 .icon-content a[data-social="spotify"] ~ .tooltip {
  background-color: #1db954;
}
.example-2 .icon-content a[data-social="pinterest"] .filled,
.example-2 .icon-content a[data-social="pinterest"] ~ .tooltip {
  background-color: #bd081c;
}
.example-2 .icon-content a[data-social="dribbble"] .filled,
.example-2 .icon-content a[data-social="dribbble"] ~ .tooltip {
  background-color: #ea4c89;
}
.example-2 .icon-content a[data-social="telegram"] .filled,
.example-2 .icon-content a[data-social="telegram"] ~ .tooltip {
  background-color: #0088cc;
}


.buscador{
  margin: 30px 80px 40px 0;
  display: flex;
  justify-content: flex-end;
}

.input-container {
  display: flex;
  background: rgb(255, 255, 255);
  border-radius: 1rem;
  background: linear-gradient(135deg, #23272F 0%, #14161a 100%);
  box-shadow: 10px 10px 20px #0e101396, -10px -10px 40px #383e4b;
  padding: 0.3rem;
  gap: 0.3rem;
  background-color: #FFD43B;
  width: 20%;
  height: 45px;
}

.input-container input {
  border-radius: 0.8rem 0 0 0.8rem;
  background: #23272F;
  box-shadow: inset 5px 5px 10px #0e1013, inset -5px -5px 10px #383e4b, 0px 0px 100px rgba(255, 212, 59, 0), 0px 0px 100px rgba(255, 102, 0, 0);
  width: 100%;
  flex-basis: 75%;
  padding: 10px;
  border: none;
  border: 1px solid transparent;
  color: white;
  transition: all 0.2s ease-in-out;
}

.input-container input:focus {
  border: 1px solid #FFD43B;
  outline: none;
  box-shadow: inset 0px 0px 10px rgba(255, 102, 0, 0.5), inset 0px 0px 10px rgba(255, 212, 59, 0.5), 0px 0px 100px rgba(255, 212, 59, 0.5), 0px 0px 100px rgba(255, 102, 0, 0.5);
}

.input-container button {
  flex-basis: 18%;
  background: linear-gradient(135deg, rgb(255, 212, 59) 0%, rgb(255, 102, 0) 100%);
  box-shadow: 0px 0px 1px rgba(255, 212, 59, 0.5), 0px 0px 1px rgba(255, 102, 0, 0.5);
  color: #23272F;
  border: none;
  width: 100%;
  border-radius: 0 1rem 1rem 0;
  transition: all 0.2s ease-in-out;
  font-size: 20px;
}

.input-container button:hover {
  background: linear-gradient(135deg, rgb(255, 212, 59) 50%, rgb(255, 102, 0) 100%);
  box-shadow: 0px 0px 100px rgba(255, 212, 59, 0.5), 0px 0px 100px rgba(255, 102, 0, 0.5);
}

@media (max-width: 500px) {
  .input-container {
    flex-direction: column;
  }

  .input-container input {
    border-radius: 0.8rem;
  }

  .input-container button {
    padding: 1rem;
    border-radius: 0.8rem;
  }
}
.contenido{
  margin-top: 50px;
  display: flex;
  flex-direction: row;
}
.inventario{
  width: 80%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  gap: 50px;
  margin: 0 auto;
  align-items: center;
  align-content: center;
}

.card {
  width: 300px;
  height: 300px;
  background: white;
  border-radius: 32px;
  padding: 3px;
  position: relative;
  box-shadow: #604b4a30 0px 70px 30px -50px;
  transition: all 0.5s ease-in-out;
}

.card .location {
  position: absolute;
  right: 2rem;
  top: 1.4rem;
  z-index: 2;
}

.card .profile-pic {
  position: absolute;
  width: calc(100% - 6px);
  height: calc(100% - 6px);
  top: 3px;
  left: 3px;
  border-radius: 29px;
  z-index: 1;
  border: 0px solid #fbb9b6;
  overflow: hidden;
  transition: all 0.5s ease-in-out 0.2s, z-index 0.5s ease-in-out 0.2s;
}

.card .profile-pic img {
  -o-object-fit: cover;
  object-fit: cover;
  width: 100%;
  height: 100%;
  -o-object-position: 0px 0px;
  object-position: 0px 0px;
  transition: all 0.5s ease-in-out 0s;
}


.card .bottom {
  position: absolute;
  bottom: 3px;
  left: 3px;
  right: 3px;
  background: #b6eafb;
  top: 80%;
  border-radius: 29px;
  z-index: 2;
  box-shadow: rgba(96, 75, 74, 0.1882352941) 0px 5px 5px 0px inset;
  overflow: hidden;
  transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
}

.card .bottom .content {
  position: absolute;
  bottom: 0;
  left: 1.5rem;
  right: 1.5rem;
  height: 160px;
}

.card .bottom .content .name {
  display: block;
  font-size: 1.2rem;
  color: white;
  font-weight: bold;
}

.card .bottom .content .about-me {
  display: block;
  font-size: 0.9rem;
  color: white;
  margin-top: 1rem;
}


.card .bottom .content .detalles {
  display: flex;
  width: 100%;
  padding: 3px 0;
  justify-content: space-between;
  border-top: 1px solid #eee;
  background-color: #f5f5f5;
  border-radius: 0 0 12px 12p ;
  margin-top: 5px;
}

.card .bottom .content .detalles:hover{
background-color:#40c9ff51;
}

.card .bottom .content .detalles div {
  text-align: center;
  flex: 1;
}

.card .bottom .content .detalles div:not(:last-child) {
  border-right: 1px solid #eee;
}

.card .bottom .content .detalles div strong {
  display: block;
  font-size: 1em;
  color: #3f51b5;
}

.card .bottom .content .detalles span {
  color: #777;
  font-size: 0.9em;
}


.card .bottom .bottom-bottom {
  position: absolute;
  bottom: 0.4rem;
  left: 1.5rem;
  right: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card .bottom .bottom-bottom .social-links-container {
  display: flex;
  gap: 1rem;
}


.card .bottom .bottom-bottom .social-links-container svg:hover {
  fill: #f55d56;
  transform: scale(1.2);
}

.card .bottom .bottom-bottom .button {
  background: white;
  color:#23272F;
  border: none;
  border-radius: 20px;
  font-size: 0.8rem;
  padding: 0.4rem 0.6rem;
  box-shadow: rgba(165, 132, 130, 0.1333333333) 0px 5px 5px 0px;
}

.card .bottom .bottom-bottom .button:hover {
  background: #f55d56;
  color: white;
}

.card:hover {
  border-top-left-radius: 55px;
}

.card:hover .bottom {
  top: 20%;
  border-radius: 80px 29px 29px 29px;
  transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1) 0.2s;
}

.card:hover .profile-pic {
  width: 100px;
  height: 100px;
  aspect-ratio: 1;
  top: 10px;
  left: 10px;
  border-radius: 50%;
  z-index: 3;
  border: 7px solid #fbb9b6;
  box-shadow: rgba(96, 75, 74, 0.1882352941) 0px 5px 5px 0px;
  transition: all 0.5s ease-in-out, z-index 0.5s ease-in-out 0.1s;
}

.card:hover .profile-pic:hover {
  transform: scale(1.3);
  border-radius: 0px;
}

.card:hover .profile-pic img {
  transform: scale(2.5);
  -o-object-position: 0px 25px;
  object-position: 0px 25px;
  transition: all 0.5s ease-in-out 0.5s;
}

.card:hover .profile-pic svg {
  transform: scale(2.5);
  transition: all 0.5s ease-in-out 0.5s;
}


.botones {
  display: flex;
  width: 60%;
  justify-content: space-between;
}


.btn {
  display: grid;
  place-items: center;
  background: #e3edf7;
  padding: 0.8em;
  border-radius: 10px;
  box-shadow: 6px 6px 10px -1px rgba(0,0,0,0.15),
	      -6px -6px 10px -1px rgba(255,255,255,0.7);
  border: 1px solid rgba(0,0,0,0);
  cursor: pointer;
  transition: transform 0.5s;
}

.btn:hover {
  box-shadow: inset 4px 4px 6px -1px rgba(0,0,0,0.2),
	      inset -4px -4px 6px -1px rgba(255,255,255,0.7),
	      -0.5px -0.5px 0px rgba(255,255,255,1),
	      0.5px 0.5px 0px rgba(0,0,0,0.15),
	      0px 12px 10px -10px rgba(0,0,0,0.05);
  border: 1px solid rgba(0,0,0,0.1);
  transform: translateY(0.5em);
}

.bot{
  width: 200px;
  height: 200px;
}
.inventario .bot .icon-conatiner {
  width: 200px;
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #fff;
  border-radius: 15px;
  box-shadow: 20px 20px 15px 0 #ababab4d;
  cursor: pointer;
}

.inventario .bot .icon-conatiner svg {
  width: 150px;
  height: auto;
}

.inventario .bot .icon-conatiner svg:last-child {
  position: absolute;
}

.inventario .bot .icon-conatiner:active {
  animation: press 0.2s 1 linear;
}

.inventario .bot .icon-conatiner:active svg:last-child {
  animation: bounce 0.2s 1 linear;
}

.text {
  color: #666;
  font-family: sans-serif;
  font-size: 16px;
  font-weight: bold;
  margin-top: 20px;
  user-select: none;
}

@keyframes press {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(0.92);
  }

  to {
    transform: scale(1);
  }
}

@keyframes bounce {
  50% {
    transform: rotate(5deg) translate(20px, -50px);
  }

  to {
    transform: scale(0.9) rotate(10deg) translate(50px, -80px);
    opacity: 0;
  }
}

.filtrador{
  display: flex;
  gap: 15px;
  justify-content: flex-end;
  margin-top: 30px;
  margin-right: 80px;
  align-items: center;

}

.select {
  width: fit-content;
  cursor: pointer;
  position: relative;
  transition: 300ms;
  color: white;
  overflow: hidden;
  margin-top: 10px;
}

.selected {
  background-color: #2a2f3b;
  padding: 10px;
  margin-bottom: 3px;
  border-radius: 5px;
  position: relative;
  z-index: 100000;
  font-size: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.arrow {
  position: relative;
  right: 0px;
  height: 10px;
  transform: rotate(-90deg);
  width: 25px;
  fill: white;
  z-index: 100000;
  transition: 300ms;
}

.options {
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  padding: 5px;
  background-color: #2a2f3b;
  position: relative;
  top: -100px;
  opacity: 0;
  transition: 300ms;
}

.select:hover > .options {
  opacity: 1;
  top: 0;
}

.select:hover > .selected .arrow {
  transform: rotate(0deg);
}

.option {
  border-radius: 5px;
  padding: 5px;
  transition: 300ms;
  background-color: #2a2f3b;
  width: 150px;
  font-size: 15px;
}

.option:hover {
  background-color: #323741;
}

.options input[type="radio"] {
  display: none;
}

.options label {
  display: inline-block;
}

.options label::before {
  content: attr(data-txt);
}

.options input[type="radio"]:checked + label {
  display: none;
}

.options input[type="radio"]#marca:checked + label {
  display: none;
}

.select:has(.options input[type="radio"]#marca:checked) .selected::before {
  content: attr(data-default);
}

.select:has(.options input[type="radio"]#producto:checked) .selected::before {
  content: attr(data-one);
}

.select:has(.options input[type="radio"]#item:checked) .selected::before {
  content: attr(data-two);
}





/* Estilos generales para la tabla */
.table {
    width: 100%;
    border-collapse: collapse;
    font-family: "Courier New", Courier, monospace;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
}

.table th{
  background-color: #1f1f1f;
  color: whitesmoke;
}
/* Estilos para las celdas de encabezado */
.table .header .cell {
    background-color: rgb(84, 84, 84);
    color: white;
    font-weight: bold;
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid rgb(167, 159, 159);
}

/* Alternancia de colores en las filas */
.table .row:nth-child(even) {
    background-color: rgb(234, 235, 234);
}

.table .row:nth-child(odd) {
    background-color: rgba(164, 164, 164, 0.8);
}

/* Estilo para celdas individuales */
.cell {
    padding: 12px 10px;
    border-bottom: 1px solid rgb(203, 203, 203);
    text-align: left;
    font-size: 0.9rem;
}

/* Estilo para las filas destacadas (por ejemplo, aspirina en oscuro) */
.row.highlight {
    background-color: #d9d9d9;
}

/* Estilos para los botones de acción */
.btn-icon {
    background-color: rgb(44, 44, 44);
    color: white;
    border: none;
    padding: 5px 10px;
    margin: 3px;
    cursor: pointer;
    font-size: 0.85rem;
    border-radius: 4px;
}

.btn-icon i {
    margin-right: 5px;
}

/* Estilo de hover para los botones */
.btn-icon:hover {
    background-color: rgb(60, 60, 60);
}

/* Estilo para las filas de items desplegables */
.row-sub .cell {
    background-color: rgb(240, 240, 240);
}

/* Estilo para el contenedor de items */
.items {
    padding: 10px;
    background-color: #f1f1f1;
    border: 1px solid rgb(203, 203, 203);
    border-radius: 4px;
}

.lista{
  width: 95%;
  margin: 0 auto;
}

.contenido a .Btn {
  width: 200px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(15, 15, 15);
  border: none;
  color: white;
  font-weight: 600;
  gap: 8px;
  cursor: pointer;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.103);
  position: relative;
  overflow: hidden;
  transition-duration: .3s;
  margin-left: auto;
  margin-top:30px;
}

.svgIcon {
  width: 16px;
}

.svgIcon path {
  fill: white;
}

.Btn::before {
  width: 200px;
  height: 130px;
  position: absolute;
  content: "";
  background-color: white;
  border-radius: 50%;
  left: -100%;
  top: 0;
  transition-duration: .3s;
  mix-blend-mode: difference;
}

.Btn:hover::before {
  transition-duration: .3s;
  transform: translate(100%,-50%);
  border-radius: 0;
}

.Btn:active {
  transform: translate(5px,5px);
  transition-duration: .3s;
}

.contenido .buscador form{
  width: 100%;
  display: flex;
  justify-content: flex-end;
}


.form-row{
  display: flex;
  gap: 15px;
  justify-content: flex-end;
  margin-bottom: 30px;
}

.form-row select{
  background-color: #23272F;
  border-radius: 10px;
  font-size: 15px;
}



/* From Uiverse.io by xueyuantan */ 
.cell .button {
  width: 8em;
  height: 3em;
  border-radius: 1em;
  font-size: 10px;
  font-family: inherit;
  border: none;
  position: relative;
  overflow: hidden;
  z-index: 1;
  box-shadow: 3px 3px 3px #c5c5c5,
              -3px -3px 3px #ffffff;
 }
 
 .cell .button::before {
  content: '';
  width: 0;
  height: 3em;
  border-radius: 1em;
  position: absolute;
  top: 0;
  left: 0;
  background-image: linear-gradient(to right, #0fd850 0%, #f9f047 100%);
  transition: .5s ease;
  display: block;
  z-index: -1;
 }
 
 .cell .button:hover::before {
  width: 9em;
 }


 .botones {
    display: flex; 
    gap: 10px;
 }

 .edit-button {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: rgb(20, 20, 20);
  border: none;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.164);
  cursor: pointer;
  transition-duration: 0.3s;
  overflow: hidden;
  position: relative;
  text-decoration: none !important;
}

.edit-svgIcon {
  width: 13px;
  transition-duration: 0.3s;
}

.edit-svgIcon path {
  fill: white;
}

.edit-button:hover {
  width: 80px;
  border-radius: 10px;
  transition-duration: 0.3s;
  background-color: rgb(255, 69, 69);
  align-items: center;
  align-content: center;
}

.edit-button:hover .edit-svgIcon {
  width: 20px;
  transition-duration: 0.3s;
transform: translateY(60%);
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  transform: rotate(360deg);
}

.edit-button::before {
  display: none;
  content: "Edit";
  color: white;
  transition-duration: 0.3s;
  font-size: 10px;
}

.edit-button:hover::before {
  display: block;
  padding-right: 3px;
  font-size: 13px;
  opacity: 1;
  transform: translateY(0px);
  transition-duration: 0.3s;
}



.delet-button {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: rgb(20, 20, 20);
  border: none;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.164);
  cursor: pointer;
  transition-duration: .3s;
  overflow: hidden;
  position: relative;
}

.svgIcon {
  width: 13px;
  transition-duration: .3s;
}

.svgIcon path {
  fill: white;
}

.delet-button:hover {
  width: 80px;
  border-radius: 20px;
  transition-duration: .3s;
  background-color: rgb(255, 69, 69);
  align-items: center;
}

.delet-button:hover .svgIcon {
  width: 20px;
  transition-duration: .3s;
  transform: translateY(60%);
}

.delet-button::before {
  position: absolute;
  top: -25px;
  content: "Delete";
  color: white;
  transition-duration: .3s;
  font-size: 7px;
}

.delet-button:hover::before {
  font-size: 13px;
  opacity: 1;
  transform: translateY(30px);
  transition-duration: .3s;
}



/* From Uiverse.io by r7chardgh */ 
.presionar {
  position: relative;
  width: 2em;
  height: 2em;
  transform: rotateX(30deg);
  border-radius: .2em;
  border: 1px solid #3f3f3f;
  box-shadow: 0 .3em 0 .1em #3f3f3f;
  transition: all 150ms;
}

.presionar::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: .2em;
  text-align: end;
  color: #3f3f3f;
}

.presionar:active {
  transform: rotateX(30deg) translateY(.3em);
  box-shadow: 0 0 0 0 #3f3f3f;
}



/* From Uiverse.io by cssbuttons-io */ 
.cancel {
  padding: 0.5em 1.1em;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #000;
  background-color: #fff;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}

.cancel:hover {
  background-color: #c42e23;
  box-shadow: 0px 15px 20px rgba(229, 55, 46, 0.4);
  color: #fff;
  transform: translateY(-7px);
}

.cancel:active {
  transform: translateY(-1px);
}


.confirm {
  padding: 0.5em 1.1em;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #000;
  background-color: #fff;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}

.confir:hover {
  background-color: #23c483;
  box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
  color: #fff;
  transform: translateY(-7px);
}

.confir:active {
  transform: translateY(-1px);
}


.form_inv {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: white;
  padding: 2.5em;
  border-radius: 25px;
  transition: .4s ease-in-out;
  box-shadow: rgba(0, 0, 0, 0.4) 1px 2px 2px;
  width: 20%;
  margin: 200px auto;
}

.form_inv:hover {
  transform: translateX(-0.5em) translateY(-0.5em);
  border: 1px solid #171717;
  box-shadow: 10px 10px 0px #666666;
}

.heading {
  color: black;
  padding-bottom: 2em;
  text-align: center;
  font-weight: bold;
  font-size: 25px;
}

.input {
  border-radius: 5px;
  border: 1px solid whitesmoke;
  background-color: whitesmoke;
  outline: none;
  padding: 0.7em;
  width: 80%;
  transition: .4s ease-in-out;
}

.input:hover {
  box-shadow: 6px 6px 0px #969696,
             -3px -3px 10px #ffffff;
}

.input:focus {
  background: #ffffff;
  box-shadow: inset 2px 5px 10px rgba(0,0,0,0.3);
}

.form_inv .btn {
  margin-top: 2em;
  align-self: center;
  padding: 0.7em;
  padding-left: 1em;
  padding-right: 1em;
  border-radius: 10px;
  border: none;
  color: black;
  transition: .4s ease-in-out;
  box-shadow: rgba(0, 0, 0, 0.4) 1px 1px 1px;
}

.form_inv .btn:hover {
  box-shadow: 6px 6px 0px #969696,
             -3px -3px 10px #ffffff;
  transform: translateX(-0.5em) translateY(-0.5em);
}

.form_inv .btn:active {
  transition: .2s;
  transform: translateX(0em) translateY(0em);
  box-shadow: none;
}